body {
  background-color: #E9ECEF;
}
.body{
  text-align: center;
}
.navbar .navbar-brand{
  color: red;
}
.liste img {
  height: 800px;
}

h2 {
  color: red;
}

.display-4 {
  color: red;
}

.header {
  color: purple;
}

h4 {
  color: yellowgreen;
  font-size: 40px;
}

.hakkımızda{
  font-size: 30px;
  background-color: #E9ECEF;
}
.jumbotron .liste{
  list-style: none;
  display: inline-block;
}

.container .card{
 width: 414px;
 height: 480px;
}
.card-body .card-title{
  text-align: start;
  color: purple
}
.card-body .card-title p{
   color: white;
   background-color: grey;
   display: inline;
}