body{
    text-align: center;
}
.liste img{
    height: 800px;

}

.menu{
    list-style: none;
    display: block;
    color: royalblue;
}
.menu li{
    display: inline;
    margin: 5px;
    position: relative;
}

.liste {
    list-style: none;
    display: inline-block;
}
h2 {
    color: red;
}

h3{
    color: slateblue;
}

h4 {
    color: yellowgreen;
}
